@import "tailwindcss";

body, html {
    margin: 0;
    padding: 0;
}

#root {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 0;
    width: 100%;
}


.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background-color: #f8f9fa;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ddd;
  z-index: 1000;
}

.nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.logo {
    font-size: 2.5rem;
    font-weight: bold;
    color: rgb(7 84 126);
    max-height: 52px;
}

.nav-links {
  display: flex;
  align-items: center;

}
.nav-links a {
    margin-left: 1rem;
    text-decoration: none;
    color: #333;
    font-family: arial;
    font-size: 1.4rem;
}

.nav-links a:hover {
  color: #007bff;
}
.main {
    width: 100vw; /* ganze Viewport-Breite */
    background: rgb(255, 238, 205);
    display: flex;
    flex-wrap: wrap; /* oder nowrap, je nach Bedarf */
}

.slider {
  position: relative;
  width: 100%;
  height: 60vh; /* Höhe des Sliders */
  overflow: hidden; /* Überlauf verstecken */
  display: flex;
  justify-content: center; /* horizontal zentriert */
  align-items: center;     /* vertikal zentriert */
}
.slider-textl {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;

  display: flex;
  justify-content: center; /* horizontal zentriert */
  align-items: center;     /* vertikal zentriert */

  color: white;            /* falls der Text vor dunklem Bild besser lesbar sein soll */
  text-align: center;
  background: rgba(0, 0, 0, 0.3); /* optional: halbtransparenter Overlay */
}

.slider-textr {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;

  display: flex;
  justify-content: center; /* horizontal zentriert */
  align-items: center;     /* vertikal zentriert */

  color: white;            /* falls der Text vor dunklem Bild besser lesbar sein soll */
  text-align: center;
}

.slider-text h1{
    font-size: 5rem;
    margin: 0;

}
.slider img {
  width: 100%;
  height: auto;
  display: block;
}